* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: rgb(235, 228, 228);
}

img {
    margin-left: 9px;
}

header {
    background-color: orange;
    text-align: center;
}

h1 {
    color: #4e4e4e;
    padding: 25px 10px 0px;
    font-size: 40px;
}


#branco {
    color: white;
}

nav {
    padding: 20px;
}

li {
    display: inline;
    margin: 1px;
    text-decoration: none;
}

a {
    color: orange;
    text-decoration: none;
}

.topo {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.topo:hover {
    background-color: white;
    color: #4e4e4e;
    padding: 10px;
}

hr {
    margin: 8px;
    color: silver;
}

.area_de_postagem1 {
    background-color: white;
    width: 50%;
    padding: 10px;
    margin: 15px;
    position: relative;
    width: 640px;
    left: 200px;
}

.area_de_postagem2 {
    background-color: white;
    width: 50%;
    padding: 10px;
    margin: 15px;
    position: relative;
    width: 640px;
    left: 200px;
}

#recentes {
    background-color: white;
    padding: 10px;
    width: 219px;
    height: 157px;
    position: absolute;
    top: 146px;
    right: 215px;
}

#categorias {
    background-color: white;
    padding: 10px;
    width: 219px;
    position: absolute;
    top: 340px;
    height: 130px;
    right: 215px;
}

footer {
    text-align: center;
    background-color: silver;
    width: 880px;
    padding: 20px;
    position: relative;
    left: 215px;
}

.rodape {
    margin: 0px;
}

p {
    margin: 10px;
}

.lateral {
    margin: 3px 0px 1px 0px;
}

h2 {
    margin: 10px;
    color: orange;
}

.leia {
    margin-left: 10px;
}
